.custom-upload_message_wrapper {
    text-align: center;
    margin-top: 10px;
}

.custom-progress-bar {
    width: 100%;
    height: 8px;
    margin-top: 5px;
}

.custom-progress-percentage {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-top: 5px;
}
